/src/*
!/src/*.java
!/src/*.g4
/src/SysYLexer.java
/src/SysYParser.java 
/src/SysYParserBaseListener.java
/src/SysYParserBaseVisitor.java
/src/SysYParserListener.java
/src/SysYParserVisitor.java
/classes
.DS_Store
/out
/Lab.iml
/.idea
/.vscode
/nohup.out